@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body {
    margin: 0px;
    overflow: hidden;
    z-index: -3;
}
#background_image {
    background-image: url("edited_norris_abu_dhabi.png");    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}
#date {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Roboto Mono";
    position: fixed;
    top: 5%;
    color: #ffffff;
}
#clock {
    font-family: sans-serif;
    font-size: 5.0rem;
    font-weight: 600;
    font-family: "Roboto Mono";
    color: #ffffff;
    position: fixed;
    top: 10%;
}
#search {
    top: 40%;
    overflow: hidden;
    background-color: #272727;
    width: 30%;
    height: 60px;
    display: table;
    margin: 20% auto auto auto;
    border-radius: 5px;
}
#search-field {
    color: #ffffff;
    background-color: #272727;
    border: solid 0px;
    top: 40%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: "Roboto Mono";
    margin-left: 2%;
    margin-top: 3%;
    text-align: center;
    z-index: -1;
}
.weather-container {
    width: 30%;
    position: fixed;
    top: 22.5%;
    border-radius: 5px;
    font-family: "Roboto Mono";
    color: #fff;
    text-align: center;
    height: 50px;
}
#weather-icon{
    height: 50px;
    width: 50px;
}
#weather-icon-img {
    height: 50px;
    width: 50px;
    position: relative;
    top: 17.5px;
}
.weather_text {
    vertical-align: central;
    align-content: center;
}
.inline {
    display: inline-block;
}
.bookmark-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 50%;
    justify-content: center;
    width: 50%;
}
.bookmark-set{
    padding: 1em;
    background-color: #272727;
    border-radius: 5px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    width: 20%;
    height: 17em;
    margin: 0em .5em;
    text-align: left;
}
.bookmark-inner-container {
    height: 80%;
    vertical-align: top;
}
.bookmark-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin: 0em 0em .35em 0em;
}
.bookmark {
    text-decoration: none;
    color: #8c8c8b;
    display:block;
    margin: .5em 0em;
}
.bookmark:hover {
    color: #fff;
}